/* This is a shared CSS document for 
- index
- accessibility
- github 
- activity

There are titles that explain the purpose of each section of the CSS, we have sections for each html.
The last section at the bottom of the page is all the media queries for all html files. 
Media queries are arranged by wich html it belongs to and by scaling pixel ranges, sorted from largest to smallest. */

/* css For index */
body, html {
  margin: 0; 
  height: 100%;
  font-family: sans-serif, Arial, Helvetica;
  background-color: #ffffff;
  color:#000;
  line-height: 1.5;
}
header{
    text-align: center;
    background-color: #3A5F88;
}
/* Navigation bar CSS*/
.topnav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.topnav li, .topnav-logo {
  float: left; /* Horizontal navbar */
}
.topnav li a{
  min-width: 5em;
  display: block; /* Horizontal navbar */
  color: #FFDA00;
  text-align: center;
  padding: 1.32em 1em;
  text-decoration: none;
}
.topnav li a:hover, .dropdown:hover .dropbtn {
  background-color: #4776ab;
}
.active {
  background-color: #2d4e74;
}
.topnav-logo{
  width: 5em;
  height: auto;
}
/* Dropdown menu. On index displayed inside the navbar. On activity page it is no navbar, only a dropdown menu.
   Css regarding functionality is mostly shared (some minor adjustments for the activity page - see activity css), while the design is different */

/* Dropdown button*/
.dropbtn {
  font-size: 1em;
  border: none;
  outline: none;
  color: #FFDA00;
  padding: 1.5em 1em;
  background-color: inherit;
  min-width: 11.71em;
}
.dropdown-content {
  display: none; /* Hides the content */
  box-shadow: 0em 0.5em 1em 0em rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #3A5F88;
  position: absolute;
  color: #FFDA00;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 0.75em 1em;
  text-decoration: none;
  display: inline-block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
/* Shows the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*frontpage picture*/
.frontpage-container {
  position: relative;
  overflow: hidden;
  background-color: #000;
}
/* size on frontpage picture */
.PictureFrontPage {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

/* Blue overlay color at the top of the image */
.gradient{ 
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #3A5F88, transparent);
  position: absolute;
  top: 0;
  left: 0;
}

/* Style for h1, size, position and color */
h1 {
    font-weight: bolder;
    font-size: 3.5em;
    padding-left: 5%;
    padding-right: 5%;
    top: 0;
    left: 0;
    color: rgb(255, 255, 255);
    position: absolute;
    white-space: normal;
}

/* Style for h2, size, pisition and color */
h2 {
    top: 4em;
    left: 0;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    position: absolute;
    white-space: normal;
}
.frontpage-container p {
  left: 0;
  top: 54%;
  width: 15%;
  color: rgb(255, 255, 255);
  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
  white-space: normal;
  font-size: 1rem;
  font-weight: bold;
}

/**/
/* Flexbox layout for the main container to arrange children horizontally */
main {
    display: flex; 
    flex-wrap: wrap; 
}
/* Styling for the secondary box with width, height, background, and padding */
.secondary-box {
    width: 20%;
    height: auto;
    background-color: rgb(255, 255, 255);
}
.secondary-box h3, .secondary-box p{
  margin-left: 1.5em;
}
/* Styling for the main box with width, height, background, and padding */
.main-box {
    width: 80%; 
    height: auto; 
    background-color: #3A5F88;
    padding: 1.25em; 
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    min-width: 18.75em; 
    flex: 1;
}

.accordion-container{
display: grid;
grid-template-columns: 32.8em 32.8em;
gap: 2.5em;
margin-top: 1.25em;
}

input {
    display: none;
}

label {
    display: block;  
    padding: 2em 0 2em 1em;  
    cursor: pointer;
    background: #ffffff;
    border-radius: 0.5em;
    color: #000000;
    transition: color 0.3s ease;
    font-weight: bold;
    box-shadow: 0 0.25em 0.38em rgba(0, 0, 0, 0.1);
    border: 0.1em solid #6a1a66 ;
    padding-left: 1em;
}

label:hover {
  background: #6a1a66;
  color: rgb(255, 255, 255);
}

.content {
    background: #ffffff;
    border: 1px solid #A7A7A7;
    border-radius: 0.5em;
    color: #1e1e1e;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
    padding-top: 1em;
}
  
  .box{
padding-bottom: 3em;
  }

  

  h4{
    font-weight: bold;
    font-size: 1.5em;
  }

  



.profile-container{
    display: flex;
    justify-content: space-between;
    gap: 0.6em;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 1.25em;
    align-items: center; 
    margin: 0 auto;   
}
  .profile-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6em;
    width: 50%;
    padding: 3.5em;
    margin-right: 3.75em;
}
.job-title{
    font-size:2em;
    font-weight: bold;
    color: #000;
    margin:0;
}
.profile-section-line{
    width: 95%;
    border-top: 1px solid #000;
    margin:0.3em 0;
}
.profile-content{
    display: flex;
    align-items: center;
    gap: 1.25em;
    width: 100%;
}
.profile-image{
    width: auto;
    height: 11em;
    border-radius: 5%;
    margin-right: 1.25em;
    object-fit: cover;
}
.profile-info{
    display: flex;
    flex-direction: column;
}

.full-name{
    font-size:1.75em ;
    font-weight: 600;
    color: #222;
    margin-bottom: 0;
}
.job-position {
    font-size: 1.15em;
    color: #666;
   margin-bottom: 2px;
}

.contact-info {
    margin-top: 2px;
    font-size: 1em;
    color: #000000;
}
.contact-section{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.6em;
width: 50%;
}
.contact-section-heading{
font-size: 2em;
font-weight:200;
color: #000000;
margin: 0;
margin-bottom: 0.6em;
}
.contact-link{
    font-size: 1.3em;
    color: #000000;
    text-decoration: underline; 
}

  /* Container for the link boxes */
  .interest-container {
    display: grid;
    justify-content: center;
  }

  h5{
    font-size: 2.5em;
  }
  

  /* creates 3 colons so the boxes will stay 4x2, also ajusting the gap between the boxes */
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5em;
    grid-template-columns: repeat(4, 1fr); 
    gap: 4em;
  }
  
  /* ajust the style and size for the boxes */
  .linkbox {
    width: 18.75em;
    width: 15.6em;
    display: block;
    padding: 1em;
    background-color: #ffffff;
    border: 0.5em solid #d1ebdb;
    border-radius: 0.5em;
    text-align: left;
    font-size: 1em;
    color: #ffffff;
    color: black;
    text-decoration: none;
  }

  .title-header{
    font-weight: bold;
  }
  
  /* applies a subtle box shadow effect when the user hovers over a link box */
  .linkbox:hover {
    transform: scale(1);
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  }
  /* slightly reduces the size of the link box when clicked */
  .linkbox:active {
    transform: scale(0.98);
  }





/*css for students history*/ 

/* Main container with CSS Grid */
.container-student {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  background-color: #d1ebdb;
  gap: 1em; 
  width: 100%;
  margin-top: 5em;
}

/* Text section styles */
.text-section {
  grid-column: 1; /* Positions text section in the first column */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.9em;
  padding-left: 2em;
  padding-right: 1em;
}

h6, .activity-page h2{ 
  font-size: 2em;
  margin-bottom: 0.6em;
  color: black;
  font-weight: lighter;
}
/* Styling the link to look like a heading */
.historylink {
  font-size: 1.5em;
  color: black; 
  margin-bottom: 1em;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: bold;
}
.text-section p {
  font-size: 1em;
  margin-bottom: 0.1em;
  color: black;
}



.historyButton {
  padding: 2%;
  background-color:black;
  color: white;
  border-radius: 0.3em;
  cursor: pointer;
  font-size: 1em;
  width: 20em;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 1em;
}

.historyButton:hover {
  background-color: rgba(31, 31, 31, 0.49);
}

/* Image section styles */
.image-section {
    grid-column: 2; /* Putting the picture in the second grid column */
    max-width: 100%;
    height: auto;
    align-items: center;
    display: block;
    margin: auto;
  }

.table-container {
  width: 90%;
  margin: 1.25em auto;
  background-color: white;
  padding: 1.25em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);


}

.year {
  background-color: #2980b9;
  color: white;
  padding: 0.6em;
  margin-top: 1.25em;
  font-size: 1.25em;
  text-align: center;
  border-radius: 0.3em;
}

.semester-box {
  background-color: #ecf0f1;
  margin: 0.6em 0;
  padding: 1.25em;
  border-radius: 0.3em;
}

.semester-title {
  font-size: 1.25em;
  font-weight: bold;
}

table {
  width: 100%;
  margin-top: 1.25em;
  border-collapse: collapse;
}

th, td {
  padding: 0.6em;
  text-align: left;
  border: 1px solid #bdc3c7;
}

th {
  background-color: #2980b9;
  color: white;
}

.subject-title {
  font-weight: bold;
  background-color: #b2d3e7;
  text-align: left;
  padding: 0.3em;
}


/*css for footer */
.footer{
    font-size: 1em;
    padding: 3.125em;
    background-color: #3A5F88;
    color: #FFDA00;
}
.newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em 6.25em;
    gap: 2em;
}
.newsletterButton{
    padding: 2%;
    background-color: #000000;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border-radius: 0.3em;
}
.newsletterButton:hover {
  background-color: rgba(31, 31, 31, 0.49);
}
.footer-line{
    width: 100%;
    border: none;
    border-top: 2px solid#ffffff;
    margin-top: 3%;
}
.social-links{
    display: flex;
    justify-content: center;
    gap: 3.1em;
    align-items: center;
    margin-top: 3.1em;
    padding: 0.625em;
}
.social-links a {
color: #FFDA00;
font-size: 1em;
text-decoration: none;
}
.social-links a:hover{
  color: white;
  transition: 0.3s ease;
}
.social-links i{
  margin-right: 1.25em;
}
.footer-col{
    flex: 1 1 10%;
    box-sizing: border-box;
    list-style: none;
    padding: 0.6em 6.25em;
    width: 50%;
    margin: 0;
}
.oslomet-logo-footer{
    margin:0 0 1.25em 0;
    width: 12.5em;
    height: auto;
}
.footer-row{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;
    margin-top: 1.25em;
    gap: 1.25em;
}

.footer-col ul{
    list-style:none;
    margin: 0;
    padding: 0;
}   
.footer-heading{
    font-size: 1.2em;
    margin-bottom: 0.6em;
}
.newsletter .footer-heading {
  color: white;
}
.footer-col ul li a{
    font-size: 1em;
    color: #FFDA00;
    display: block;
    transition: all 0.3s ease;
    padding: 0.6em;
    text-decoration: underline;
}
.footer-col ul li a:hover{
  text-decoration: none;
}
/* Css for accessibility-page and github-page: Mostly reused css from Index. However, some minor adjustments compared to index is necessary */
.accessibility-page, .github-page{
  text-align: center;
}
.accessibility-page .secondary-box h3{
  font-size: 2em;
}
.accessibility-page .main-box h3, .github-page .main-box h3{
  color: white;
  font-size: 1.5em;
}
.accessibility-page article {
  display: block;
}
.accessibility-page .main-box, .accessibility-main img, .github-page .main-box, .github-main img{
  width: 100%;
}
.accessibility-page .secondary-box{
  padding: 0;
  width: 90%;
  justify-content: center;
  padding:0 5%;
}
.accessibility-page .main-box, .github-page .main-box{
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.accessibility-page .accordion-container, .github-page .accordion-container{
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
}
.github-page article{
  flex-direction: column;
}
.github-page h3 {
  font-size: 2.5em;
  margin-bottom: 1.2em;
}
.github-page h4{
  color: #2980b9;
  padding:0 20%;
}
.github-page section p{
  padding:0  20%;
}
.github-page section ul {
  list-style-type: none; 
  padding:0 20%;
}
.github-page section ul li {
  background-color: #ecf0f1; 
  margin-bottom: 0.625em;
  padding: 0.625em;
  border-radius: 0.3em; 
}


/*Activity css*/

/*Parallax code found here: https://www.w3schools.com/howto/howto_css_parallax.asp */
/*Parallax makes the backround content (often a image) move at a diffrent speed than the foreground content while scrolling */
.parallax {
  height: 100%; /* Full height */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Individual parallax images */
/* image source: https://unsplash.com/photos/a-man-taking-a-picture-of-a-body-of-water-YRfoXTJi4Ms */
.parallax1 {
  background-image: url('images/fuglekikking.png'); 
}
/* image source: https://unsplash.com/photos/photo-of-flying-owl-ExnAdmi-Asc */
.parallax2 {
  background-image: url('images/snowowl.jpg');
}
/* image soruce: https://unsplash.com/photos/three-white-and-black-puffin-birds-on-a-rock-aYgXYoAjacE */
.parallax3 {
  background-image: url('images/puffin.jpg');
}

/* Dropdown css adjustments for activity*/
.activity-page .dropbtn {
  background: rgba(0, 0, 0, 0.5);
  min-width: 7.5em;
  color: white;
}
.activity-page .dropdown {
  position: fixed; /* Dropdown menu sticks to the top of the page*/
  z-index: 1;
}
.activity-page .dropdown-content {
  background-color: inherit;
  color:white;
}
.activity-page .dropdown-content a{
  display: block;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
}
.activity-page .dropdown-content a:hover, .activity-page .dropdown:hover .dropbtn {
  background-color: #00000057;
}

.activity-page h2{
  position: static;
}

.bird-image-section{
  width: 50%;
  height: auto;
  margin: 1.25em auto;
  display: block;
}

.bird-round{
  width: 100%; /* Full width of the container */
    max-width: 18.75em; /* Optional: set a maximum width */
    aspect-ratio: 1 / 1; /* Ensures the image remains a square */
    border-radius: 50%; /* Makes it circular */
    object-fit: cover; /* Ensures proper scaling within the circle */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.activity-page h3{
  font-size: 2em;
  margin-left: 2em;
padding-top: 3em;
}


/* Text overlay */
.text-overlay .activity-page-h1,.parallax-p  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Makes position perfectly centered */
  color: white;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 0.5em 1em;
  border-radius: 0.5em; /*Makes round corners*/
  text-align: center; /* Centered text*/
  margin: 0;
  font-size: 1.8em; /* p text size */
}

.text-overlay .activity-page-h1 {
  font-size: 3em; /* Set larger font size for activity-h1 */
}




/* Content section between parallax 1 & 2  */
.content-activty {
  padding: 2em;
  text-align: center;
  background-color: rgb(244,244,244);
  color: rgb(51,51,51);
  font-size: 1.2em;
}


/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.3em; 
  padding: 1.3em; 
}

/* Individual items */
.item {
  text-align: center; 
  background-color: rgb(168, 236, 231) ;
  padding-top: 1em;
}

/* Circular images */
.round-image {
  width: 100%; 
  max-width: 9.3em; 
  aspect-ratio: 1 / 1; 
  border-radius: 50%;
  object-fit: cover; 
  margin: 0 auto; 
}


/* Text below each image */
.text-box {
  margin-top: 0.6em; 
  font-size: 1em;
  color: #333; 
}

.text-box-title{
  font-size: 1.3em;
  font-weight: bold;
}

.title-box{
  padding-left: 1em;
  padding-right: 1em;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 4em; /* Avstand mellom boksene */
  max-width: 50em;
  margin: 0 auto; /* Sentrer containeren på siden */
  color: white;
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em;
}

.flex-box {
  padding: 1.2em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #342812;
  font-weight: lighter;
}



.activity-page h4{
  font-size: 2em;
  margin-left: 2em;
  margin-right: 1em;
}
.picture-info{
  margin-left: 4.1em;
}

/* <!-- Base code found here: https://www.w3schools.com/howto/howto_css_flip_card.asp --> */
.flip-card-title{
  font-size: 1em;
}
.flip-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 4em; 
  justify-items: center; 
  padding-bottom: 4em;
padding-top: 4em;
}

.flip-card {
  background-color: transparent;
  width: 31em;
  height: 18em;
  perspective: 63em; 

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front img {
  width: 100%;    
  height: 100%;  
  object-fit: cover;  
  object-position: center; 
}

/* Style the back side */
.flip-card-back {
  background-color:  rgb(168, 236, 231) ;
  color: black;
  transform: rotateY(180deg);
  padding-left: 2em;
  padding-right: 2em;
  width: auto;
}

/* Optional: Styling for the back content */
.flip-card-title {
  font-size: 1.2em;
  margin: 0.62em 0;
  color: black;
}


/* Media query */
/* Media for ultrawide screen */
@media (min-width:2400px){
  body{
  font-size: 1.875em;
  }
}
@media (min-width: 2000px) {
  .accordion-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Swtitches to 1 column when page shrinks to 1400px */
@media (max-width: 1400px) {
  .accordion-container{
    display: grid;
    grid-template-columns: 1fr; 
  }
  .linkbox{
    width: 12.5em;
  }
}

/* The boxes goes from 4 in the width to 2, or switches from 4 columns to 2. and the boxes changes size */
@media (max-width: 1250px){
  .interest-container .grid{
    grid-template-columns: repeat(2, 1fr); 
  }
  .linkbox{
    width: 25em;
  }
}

/* The drop down boxes switches to one column when under 1200px and the gap changes to 1em */
@media (max-width: 1200px) {
  .accordion-container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1em; 
  }
}

  @media (max-width: 1100px) {
    /* Change the article to column so the aside scales over the main box */
    main {
          flex-direction: column; 
      }
      .secondary-box,.main-box{
          width: 100%;
          height: auto;
      }
      .frontpage-container p {
        top: 84%;
        width: 80%;
      }

/* Changes the width of the interest linkboxes*/
    .linkbox{
    width:25em;
  }
}

/* Change size of h1 and h2 at 1000px */
@media (max-width: 1000px) {
  h1 {
    font-size: 3em;
  }
  h2{
    font-size: 2em;
  }
  .profile-container{
    font-size: 0.8em;
  }
  .contact-section{
    font-size: 0.8em;
    padding: 0.5em;
  }
}

@media (max-width: 950px) {
  /* Stacks the text over the picture */
  .container-student {
      grid-template-columns: 1fr; /* Stack elements on small screens */
  }
  .text-section, .image-section {
      grid-column: 1; /* Make both sections full-width on small screens */
  }

  /* Changes width of interest linkbox */
      .linkbox{
      width:22em;
    }

    /*  Changes to 1 column*/
      .interest-container .grid{
        grid-template-columns: 1fr; 
      }
      .linkbox{
        width: 31.25em;
        margin-left: 4em;
      }
  
}


@media (max-width: 900px) {
    /* Changes to one column and changes the gap*/
    .accordion-container {
      grid-template-columns: 1fr;
      gap: 2em; 
    }
  
    label {
      padding-left: 0.5em; 
    }
  
    .content {
      padding-left: 1em; 
    }
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
/* For even smaller screen, switch to 1 column, also changing the gap and the box size*/
    @media (max-width: 820px) {

      .linkbox {
        width: 31.25em
      }
  
      .grid {
          gap: 2.5em;
      }
    }

  @media (max-width: 767px){
    h1 {
        font-size: 2.5em;
      }
      h2{
        font-size: 1.5em;
        margin-top: 1.8em;
      }
    /*accordion container*/
        .accordion-container{
            gap: 1.5em;
        }
        /* Goes from horizontal to vertical navbar */
        .topnav li, .topnav-logo {
            float: none;
        }
        /* Less padding so it covers less of the screen */
        .topnav li a, .dropbtn {
          padding: 0.75em;
        }
        .dropbtn{
          width: 100%;
        }
        /* Dropdown content aligns horizontaly for the same reason as above */
        .topnav .dropdown-content a{
          float: left;
        }
      
        label {
          font-size: 1em; 
          padding-top: 1.5em;
          padding-bottom: 1.5em;
        }
      
        .content {
          padding-left: 0.5em; 
        }
        .profile-container {
            flex-direction: column;
            align-items: center;
            padding: 0 0.6em;
        }
        
    /*profile and contact section*/
        .profile-section {
            width: 98.5%;
            padding: 1.5%; 
            margin-right: 0;  
        }
    
        .contact-section {
            width: 98.5%;
            padding: 1.5%; 
            margin-top: 1.25em; 
        }
    
        .profile-image {
            width: 7.5em;
            height: 7.5em;
            margin-bottom: 1em;
        }
        .section-heading {
            font-size: 2em; 
        }
        .contact-link {
            font-size: 1.5em; 
        }
        h5{
    font-size: 2.2em;
    margin-left: 1em;
      }
        .footer-col{
          flex: 1 1 100%;
          padding: 1em;
          width: 100%;
          margin-bottom: 1.8em;
          flex-direction: column;
        }
        .newsletter{
            flex-direction: column;
            align-items: flex-start;
            max-width:100% ;
        }
        .newsletterButton{
            margin-top: 0.625em;
            width: 100%;
        }
      
      .frontpage-container p {
        font-size: 0.75rem;
        top: 80%;
      }
       
}

/* Table media */
@media (max-width: 650px) {
  table {
    font-size: 1em;
    margin-top: 0.6em;
  }

  th, td {
    padding: 0.5em;
  }

  .semester-title, .year {
    font-size: 1em;
    padding: 0.5em;
  }

  .semester-box {
    padding: 1em;
  }

  .emnefag-title {
    padding: 0.5em;
  }

  .accordion-container{
    grid-template-columns: 1fr; /* Stack columns on smaller screens */
  }
  
}
@media (max-width: 600px){
    .linkbox{
      width: 25em;
      margin-left: 3em;
    }
  
  h1 {
    font-size: 2em;
  }
  h2{
    font-size: 1em;
    margin-top: 3em;
  }
}

/*scaling 574px drop down boxes*/
@media (max-width:574px){

  .topnav .dropdown-content a{
  padding: 0.4em;
  }
  /*accordion container*/
      .accordion-container {
          grid-template-columns: 1fr; 
          gap: 1em; 
      }
      
      label {
          font-size: 1em; 
          padding-top: 1em;
          padding-bottom: 1em;
      }
      .content {
          padding-left: 0.5em; 
          font-size: 1em; 
      }
  /*profile and contact section*/
      .profile-section, .contact-section {
          padding: 1em;  
      }
      .section-heading {
          font-size: 1.25em;
      }
      .contact-link {
          font-size: 1.2em;
      }
      .profile-image {
          width: 6.25em;
          height: 6.25em;
      }
  /*interest boxes*/
      .linkbox {
          width: 25em
      }
  
  /*footer*/
      .newsletter{
       max-width: 90%;
       padding: 1.2em;
       text-align: center;
      }
      .footer-heading{
        font-size: 0.9em;
       max-width: 100%;
      }
      .newsletterButton{
        font-size: 0.9em;
       max-width: 100%;
      }
      .footer-row{
          flex-direction: column;
          align-items: center;
      }
      .footer-col{
          width: 100%;
          margin-bottom: 1.875em;
      }
      .social-links{
          justify-content: center;
          max-width: 100%;
      }
  }

    @media (max-width: 500px){
      .linkbox{
        width: 18.75em;
        margin-left: 2em;
      }

      h5{
        font-size: 2em;
        margin-left: 1em;
      }
    }
  
  @media (max-width: 470px) {
    h1 {
      font-size: 1.2em;
    }
    h2{
      font-size: 0.7em;
      margin-top: 2em;
    }
    .profile-container{
      padding: 1em;
    }
    .contact-section-heading{
      font-size: 1.5em;
    }
    .social-links{
      font-size: 0.7em;
    }
  }


  /*only media for accesbility page*/
  @media (max-width: 1200px) {
  .accessibility-page .accordion-container {
      display: grid;
      grid-template-columns: 1fr; 
      gap: 1em; 
    }
  }

  @media (max-width: 900px) {
    /* Changes to one column and changes the gap*/
    .accessibility-page .accordion-container {
      grid-template-columns: 1fr;
      gap: 2em; 
    }
  }
@media (max-width: 767px){
  /*accordion container*/
  .accessibility-page .accordion-container {
    gap: 1.5em;
  }
  }
@media (max-width: 650px){
  .accessibility-page .accordion-container {
    grid-template-columns: 1fr; /* Stack columns on smaller screens */
  }
}
  /*scaling 574px drop down boxes*/
@media (max-width:574px){
/*accordion container*/
  .accessibility-page .accordion-container {          
    grid-template-columns: 1fr; 
    gap: 1em; 
  }
}     
  

/*only Media for GitHub page*/
@media (max-width: 1200px) {
  .github-page .accordion-container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1em; 
  }
}

@media (max-width: 900px) {
/* Changes to one column and changes the gap*/
  .github-page .accordion-container {
    grid-template-columns: 1fr;
    gap: 2em; 
  }
}
  
@media (max-width: 768px) {
/*accordion container*/
  .github-page .accordion-container {
    gap: 1.5em;
  }
  .github-page h4,
  .github-page section p,
  .github-page section ul {
    padding: 0 10%;
  }
  .github-page h3 {
   font-size: 2em;
  }
}
@media (max-width: 650px) {
  .github-page .accordion-container {
   grid-template-columns: 1fr; /* Stack columns on smaller screens */
  }
}

/*scaling 574px drop down boxes*/
@media (max-width:574px){
  /*accordion container*/
  .github-page .accordion-container {
    grid-template-columns: 1fr; 
    gap: 1em; 
  }
}

@media (max-width: 480px) {
  .github-page h4,
  .github-page section p,
  .github-page section ul {
    padding: 0 5%; 
  }

  .github-page h3 {
    font-size: 1.8em; 
  }

  .github-page section ul li {
    font-size: 1em;
  } 
}



/*only Media for activity page*/
@media(max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
/* The flip cards switches to one column when under 1200px*/
@media (max-width: 1200px) {
  .flip-card-container{
    grid-template-columns:1fr; 
  }
}

@media (max-width: 600px){
  .text-overlay .activity-page h1 {
    font-size: 2em; 
  }
  .activity-page h3{
    font-size: 1.5em;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  .activity-page h4{
   font-size: 1.5em;
   margin-left: 1em;
   margin-right: 1em;
  }
  .picture-info{
   margin-left: 1.7em;
  }
  .flip-card {
    width: 90%; /* Scales down the card width */
    height: 18.75em; /* Scales down the card height */
    margin: 0 auto; /* Centers the card */
  }

  .flip-card-inner {
    width: 100%;
    height: 100%;
  }

  .flip-card-front {
    width: 100%; /* Ensures the back matches the card dimensions */
    height: 100%; /* Matches the card's height */
    position: absolute; /* Ensures front and back overlap perfectly */
  }

  .flip-card-back {
    padding: 1em; /* Adjust padding for smaller content if needed */
    box-sizing: border-box; /* Ensures padding doesn't affect width/height */
    width: 100%; /* Ensures the back matches the card dimensions */
    height: 100%; /* Matches the card's height */
    position: absolute; /* Ensures front and back overlap perfectly */
  }

  .flip-card-title {
    font-size: 1em; /* Adjust text size */
  }
}

 @media (max-witdh:480px){
  /*Scalling parallax text */
  .parallax-p {
    font-size: 1.2em; 
    padding: 0.3em 0.6em; 
    line-height: 1.2; 
  }
  .activity-page-h1 {
  font-size: 2em;
  padding: 0.2em 1em ;
  line-height: 1.5;
  }
  h3.top-bird-text{
      font-size: 1.2em;
    }
  .activity-page h3{
    font-size: 1.2em;
  }
}