/* Removes the standard margin */
body {
  margin: 0; 
  font-family: sans-serif, Arial, Helvetica;
  background-color: #f0f0f0;
  color:#000;
}
header{
    font-family: sans-serif;
    text-align: center;
    background-color: #3A5F88;
    color: white;
}
/* Navigation bar CSS*/
.topnav {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3A5F88;
}
.topnav li {
  float: left;
}
.topnav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav li a:hover, .dropdown:hover .dropbtn {
  background-color: #4776ab;
}
.active {
  background-color: #305884;
}
.topnav-logo{
  height: 40px;
  margin-right: 10px;
}
.topnav .dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3A5F88;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.topnav-logo{
  height: 40px;
  margin-right: 10px;
}

.frontpage-container {
  position: relative;
  overflow: hidden;
}

/* size on frontpage picture */
.PictureFrontPage {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

/* Blue overlay color at the top of the image */
.gradient{ 
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #3A5F88, transparent);
  position: absolute;
  top: 0;
  left: 0;
}


/* css for body */
p, h1, h2{
    font-family: sans-serif;
}

/* Style for h1, size, position and color */
h1 {
    font-weight: bolder;
    font-size: 4.5em;
    max-width: auto;
    padding-left: 5%;
    padding-right: 5%;
    top: 0;
    left: 0;
    color: rgb(255, 255, 255);
    position: absolute;
    white-space: normal;
}

/* Style for h2, size, pisition and color */
h2 {
    top: 5em;
    left: 0;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    position: absolute;
    white-space: normal;
}
/* Flexbox layout for the main container to arrange children horizontally */
main {
    display: flex; 
    flex-wrap: wrap; 
}

/* Flexbox layout for the article to ensure proper spacing and minimum width */
article {
    display: flex; 
    flex: 1; 
    min-width: 300px; 
}

/* Styling for the secondary box with width, height, background, and padding */
.secondary-box {
    width: 20%; 
    height: auto;
    background-color: rgb(255, 255, 255); 
    padding: 20px; 
}


/* Styling for the main box with width, height, background, and padding */
.main-box {
    width: 80%; 
    height: auto; 
    background-color: #3A5F88;
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.accordion-container{
display: grid;
grid-template-columns: 525px 525px;
gap: 2.5em;
margin-top: 1.25em;
}

input {
    display: none;
}

label {
    display: block;  
    padding: 2em 0 2em 1em;  
    cursor: pointer;
    background: #ffffff;
    border-radius: 0.5em;
    color: #000000;
    transition: color 0.3s ease;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label:hover {
    background: #00509e;
    color: rgb(0, 0, 0);
}

.content {
    background: #ffffff;
    border: 1px solid #A7A7A7;
    padding: 1em 0 1em 1em;
    border-radius: 0.5em;
    color: #1e1e1e;
    line-height: 1.6;
    max-height: auto;
    overflow: hidden;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
    padding-top: 1em;
}

* {
    box-sizing: border-box;
  }
  
  .box{
padding-bottom: 3em;
  }

  

  h4{
    font-weight: bold;
    font-size: 1.5em;
  }

  



.profile-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    padding: 0 20px;
    align-items: center; 
    margin: 0 auto;   
}
  .profile-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 60%;
    padding: 3.5em;
    margin-right: 60px;
}
.job-title{
    font-size:2em;
    font-weight: bold;
    color: #000;
    margin:0;
}
.profile-section-line{
    width: 95%;
    border-top: 1px solid #000;
    margin:5px 0;
}
.profile-content{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.profile-image{
    width: auto;
    height: 175px;
    border-radius: 5%;
    margin-right: 20px;
    object-fit: cover;
}
.profile-info{
    display: flex;
    flex-direction: column;
}

.full-name{
    font-size:1.75em ;
    font-weight: 600;
    color: #222;
    margin-bottom: 0;
}
.job-position {
    font-size: 1.15em;
    color: #666;
   margin-bottom: 2px;
}

.contact-info {
    margin-top: 2px;
    font-size: 1em;
    color: #000000;
}
.contact-section{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
width: 40%;
}
.contact-section-heading{
font-size: 2em;
font-weight:200;
color: #000000;
line-height: 1.5;
margin: 0;
margin-bottom: 10px;
}
.contact-link{
    font-size: 1.3em;
    color: #000000;
    text-decoration: underline; 
}






  /* Container for the link boxes */
  .interest-container {
    display: grid;
    justify-content: center;
  }

  h5{
    font-size: 2.5em;
  }
  
  /* creates 3 colons so the boxes will stay 4x2, also ajusting the gap between the boxes */
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 4em;
  }
  
  /* ajust the style and size for the boxes */
  .linkbox {
    width: 250px;
    display: block;
    padding: 1em;
    background-color: #d1ebdb;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    text-align: left;
    font-size: 1em;
    color: black;
    text-decoration: none;
  }

  .title-header{
    font-weight: bold;
  }
  
  /* applies a subtle box shadow effect when the user hovers over a link box */
  .linkbox:hover {
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  /* slightly reduces the size of the link box when clicked */
  .linkbox:active {
    transform: scale(0.98);
  }























/*css for footer */
.footer{
    font-size: 1.2em;
    padding: 50px;
    background-color: #3A5F88;
    color: #000000;
}
.nyhetsbrev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.nyhetsbrevButton{
    padding: 2%;
    background-color: #000000;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
}
.footer-line{
    width: 100%;
    border: none;
    border-top: 2px solid#000;
    margin-top: 3%;
}
.social-links{
    display: flex;
    gap: 100px;
    align-items: center;
    margin-top: 50px;
    padding: 10px 100px;
}
.social-links a {
color: rgb(0, 0, 0);
font-size: 1.5em;
}
.footer-col{
    flex: 1 1 10%;
    list-style: none;
    padding: 10px 100px;
    width: 50%; 
    margin: 0;
}
.oslomet-logo-footer{
    background-color:#3a5f88 ;
    margin: 20px 0;
    width: 200px;
    height: auto;
}
.footer-row{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;
    margin-top: 20px;
    gap: 20px;
}

.footer-col ul{
    list-style:none;
    margin: 0;
    padding: 0;
}   
h6{
    font-size: 1.2em;
    margin-bottom: 10px;
}   
.footer-col ul li a{
    font-size: 16px;
    color: #000000;
    display: block;
    transition: all 0.3s ease;
    text-decoration: none;
}
.footer-col ul li a:hover{
text-decoration: underline;
}

/*Scaling*/
@media (max-width: 460px) {
    h1 {
      font-size: 1.5em;
    }
    h2{
      font-size: 1.2em;
    }
  }

/*scaling 574px*/
@media (max-width:574px){
    h1 {
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
/*accordion container*/
    .accordion-container {
        grid-template-columns: 1fr; 
        gap: 1em; 
    }
    
    label {
        font-size: 14px; 
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .content {
        padding-left: 0.5em; 
        font-size: 14px; 
    }
/*profile and contact section*/
    .profile-section, .contact-section {
        padding: 1em;  
    }
    .section-heading {
        font-size: 1.25em;
    }
    .contact-link {
        font-size: 0.9em;
    }
    .profile-image {
        width: 100px;
        height: 100px; 
    }

/*footer*/
    .footer-row{
        flex-direction: column;
        align-items: center;
    }
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
    .social-links{
        justify-content: center;
    }
}
/*Scaling 767px*/
@media (max-width: 767px){
/* Adjustment of font size and position for h1 and h2 */
    h1 {
        font-size: 2.5em;
        top: 0;
    }
    h2 {
        font-size: 2em;
        top: 4em;
    }
/*accordion container*/
    .accordion-container {
        grid-template-columns: 1fr; 
        gap: 1.5em;
    }
    .topnav, .dropdown {
        float:none;
    }

  
    label {
      font-size: 16px; 
      padding-left: 0.3em;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
    }
  
    .content {
      padding-left: 0.5em; 
    }
    .profile-container {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }
/*profile and contact section*/
    .profile-section {
        width: 100%;
        padding: 1.5em; 
        margin-right: 0;  
    }

    .contact-section {
        width: 100%;
        padding: 1.5em; 
        margin-top: 20px; 
    }

    .profile-image {
        width: 120px;
        height: 120px;
        margin-bottom: 15px;
    }
    .section-heading {
        font-size: 1.5em; 
    }
    .contact-link {
        font-size: 1em; 
    }

/*scaling footer*/
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
        flex-direction: column;
    }
    .nyhetsbrev{
        flex-direction: column;
        align-items: flex-start;
    }
    .nyhetsbrevButton{
        margin-top: 10px;
        width: 100%;
    }
}


  @media (max-width: 850px) {
    h1 {
      font-size: 2.5em;
    }
    h2{
      font-size: 2em;
    }
}
@media (max-width: 900px) {
    .accordion-container {
      grid-template-columns: 1fr;
      gap: 2em; 
    }
  
    label {
      padding-left: 0.5em; 
    }
  
    .content {
      padding-left: 1em; 
    }
  }
  
  @media (max-width: 1050px) {
    h1 {
      font-size: 3.5em;
    }
    h2{
      font-size: 2.5em;
      top: 3.5em;
    }
  }
 
/* Media query for mobile */
@media (max-width: 1100px) {
    article {
          flex-direction: column; 
      }
      .secondary-box,.main-box{
          width: 100%;
          height: auto;
      }
  }

  @media (max-width: 1200px) {
    .accordion-container {
      display: grid;
      grid-template-columns: 1fr; 
      gap: 1em; 
    }    
  }
  @media (max-width: 1400px) {
    .accordion-container {
      display: grid;
      grid-template-columns: 1fr; 
    }
  }

  @media (max-width: 1250px){
    .interest-container .grid{
      grid-template-columns: repeat(2, 1fr); 
    }
    .linkbox{
      width: 400px;
    }
  }

  @media (max-width: 950px){
    .interest-container .grid{
      grid-template-columns: 1fr; 
    }
    .linkbox{
      width: 500px;
      margin-left: 4em;
    }
  }


  @media (max-width: 600px){
    .linkbox{
      width: 400px;
      margin-left: 3em;
    }
  }


  @media (max-width: 500px){
    .linkbox{
      width: 300px;
      margin-left: 2em;
    }
  }


  @media (max-width: 500px){
    h5{
      font-size: 2em;
      margin-left: 1em;
    }
  }
  