/* Thomas */
body {
    margin: 0
}
header{
    font-family: sans-serif;
    text-align: center;
    background-color: #3A5F88;
    color: white;
    z-index: 1;
}
.topnav {
    background-color: #3A5F88;
    overflow: hidden;
  }
  .topnav a{
    float:left;
    color: white;
    text-align: center;
    padding: 35px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #537dad;
    color: white;
  }
  .OsloMetLogo {
    float: left;
    margin-right: 2.5%;
    margin-top: 5px;
  } 
  /* Sivert linje 35 */






.image-container{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.PictureFrontPage {
    width: 100%;
    height: auto;
    max-width: 100%;
}

h1 {
    font-weight: bolder;
    font-size: min(5em, 8vw);
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    top: 10%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    z-index: 2;
}

h2{
font-weight: bold;
padding-left: 5%;
padding-right: 5%;
font-size: min(3em, 5vw);
position: absolute;
top: calc(30% + 5vw);
color: white;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
z-index: 2;
}




























/* Jørgen linje 60 */





























/* Adrian linje 90 */
.footer{
    align-content: center;
    padding: 50px;
    background-color: #3A577D;
}
.footer-container{
    max-width: 100%;
    margin: auto;
}

.footer-row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
ul{
    list-style:none;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col ul:not(:last-child){
    margin-bottom: 10px;
}      
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}